.header {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
}

.header-container_one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container_two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  width: 4rem;
}
