*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.pageContainer {
  max-width: 575px;
}

@media (min-width: 500px) {
  body {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .pageContainer {
    width: 100%;
  }
}
